# api id and api hash (my.telegram.org)
# required
API_ID='37339013'
API_HASH='dd8f206686c5f469576e2af410b8e4b2'

# pyrogram session string (@genstr_robot)
# required
SESSION='BAIJAr0AEJDVfsyydNv_UyG2RzlxEWgyE0rHkRgeLNkU0lLf04uESOktvnnpvjyXmirnJo4JXIGfV_m7d6G6zF_x7NkgJ8c_kGexgA37o_lXar7Io_TNoiCPBJx4BXSr9-Ie0l5910V7cLpDtNNWxHSG6xgVXBlGQfFlFt2eeNBrqMVJ3WO73AoQjVl6kdr0dPPEgBfb9rEM3yS6DN_7KcANy8XQvOjcMdF-WgVK5VqHKkAn_1KWma4i8MxpIYJhIabP5M4NYrfdeb0tTG14ot91tckmhNJx1Mik-i0shnl8EE5D9N10hN4CQYiSj2ctLdHxryy-YTOMo9UxRjR7-h6QG6hvkwAAAAIJdT7pAA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='8701777547:AAE2ta6kowLy2aaR02V2aXLtqjI4Fca70EQ'

# sudo user ids (separate with space)
# optional
SUDOERS='7225806003'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
